# Exercise 1

# Exploratory Data Analysis (EDA) Exercises with Pandas

Dataset used: `eda_using_basic_data_functions_in_python_dataset1.csv`

---

## Exercise 1: Load the dataset

- Load the CSV file into a pandas DataFrame.
- Display the first 5 rows to inspect the data.

---

## Exercise 2: Basic Data Exploration

- Display the column names.
- Display the shape of the dataset (number of rows and columns).
- Find the data types of each column.

---

## Exercise 3: Summary Statistics

- Calculate the basic statistics (`mean`, `min`, `max`, `std`) for the `number_of_strikes` column.

---

## Exercise 4: Handling Missing Values

- Check if there are any missing values in the dataset.
- If there are missing values, count them per column.

---

## Exercise 5: Data Filtering

- Select all rows where `number_of_strikes` is greater than 100.

---

## Exercise 6: Working with Dates

- Convert the `date` column to a datetime format if it's not already.
- Extract the year and month into two new columns: `year`, `month`.

---

## Exercise 7: Grouping and Aggregating

- Group the data by `year` and calculate the total number of strikes for each year.

---

## Exercise 8: Sorting

- Sort the dataset by `number_of_strikes` in descending order.
- Display the top 10 rows.

---

## Exercise 9: String Manipulation

- Extract latitude and longitude separately from the `center_point_geom` column if it contains coordinates (you may need to split the string).

*Hint:* You might need to use `str.split()` and `expand=True`.

---

## Exercise 10: Basic Visualization (Bonus)

- Create a simple line plot showing the total number of strikes per year.

*Hint:* You can use `matplotlib.pyplot` or `pandas` built-in `.plot()` function.

---

# ðŸ“š Summary of Skills Practiced
- Data loading
- Data inspection
- Statistical summaries
- Missing data handling
- Filtering and sorting
- Grouping and aggregation
- String and datetime manipulation
- Simple visualizations

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("eda_using_basic_data_functions_in_python_dataset1.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401012 entries, 0 to 3401011
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   date               object
 1   number_of_strikes  int64
 2   center_point_geom  object
dtypes: int64(1), object(2)
memory usage: 77.8+ MB

In [4]:
df.head()

         date  number_of_strikes center_point_geom
0  2018-01-03                194     POINT(-75 27)
1  2018-01-03                 41   POINT(-78.4 29)
2  2018-01-03                 33   POINT(-73.9 27)
3  2018-01-03                 38   POINT(-73.8 27)
4  2018-01-03                 92     POINT(-79 28)

In [5]:
df.columns

Index(['date', 'number_of_strikes', 'center_point_geom'], dtype='object')

In [6]:
df.shape

(3401012, 3)

In [7]:
df.describe()

       number_of_strikes
count       3.401012e+06
mean        1.311403e+01
std         3.212099e+01
min         1.000000e+00
25%         2.000000e+00
50%         4.000000e+00
75%         1.200000e+01
max         2.211000e+03

In [9]:
df['number_of_strikes'].agg('mean')

np.float64(13.114034587352235)

In [13]:
df['number_of_strikes'].agg(['std','min','max'])

std      32.120992
min       1.000000
max    2211.000000
Name: number_of_strikes, dtype: float64

In [16]:
# Handling missing values
df.isnull()

          date  number_of_strikes  center_point_geom
0        False              False              False
1        False              False              False
2        False              False              False
3        False              False              False
4        False              False              False
...        ...                ...                ...
3401007  False              False              False
3401008  False              False              False
3401009  False              False              False
3401010  False              False              False
3401011  False              False              False

[3401012 rows x 3 columns]

In [19]:
# show the rows with atleast one missing value
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, number_of_strikes, center_point_geom]
Index: []

In [20]:
df[df['number_of_strikes']>100]

              date  number_of_strikes  center_point_geom
0       2018-01-03                194      POINT(-75 27)
5       2018-01-03                119      POINT(-78 28)
9       2018-01-03                119    POINT(-78.6 28)
10      2018-01-03                107    POINT(-78.5 28)
11      2018-01-03                158    POINT(-78.4 28)
...            ...                ...                ...
404522  2018-12-27                115  POINT(-92.8 30.1)
404526  2018-12-27                118  POINT(-93.2 29.9)
404527  2018-12-27                102  POINT(-93.1 29.9)
404600  2018-12-27                102  POINT(-91.8 30.5)
404611  2018-12-27                111  POINT(-91.9 30.4)

[64813 rows x 3 columns]

In [21]:
# Convert to datetime
df['date'] = pd.to_datetime(df['date'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401012 entries, 0 to 3401011
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   date               datetime64[ns]
 1   number_of_strikes  int64
 2   center_point_geom  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 77.8+ MB

In [23]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [24]:
df

              date  number_of_strikes  center_point_geom  year  month
0       2018-01-03                194      POINT(-75 27)  2018      1
1       2018-01-03                 41    POINT(-78.4 29)  2018      1
2       2018-01-03                 33    POINT(-73.9 27)  2018      1
3       2018-01-03                 38    POINT(-73.8 27)  2018      1
4       2018-01-03                 92      POINT(-79 28)  2018      1
...            ...                ...                ...   ...    ...
3401007 2018-12-28                 30  POINT(-90.6 28.7)  2018     12
3401008 2018-12-28                 30  POINT(-89.4 30.9)  2018     12
3401009 2018-12-28                 30  POINT(-89.5 31.4)  2018     12
3401010 2018-12-28                 30  POINT(-88.3 31.6)  2018     12
3401011 2018-12-28                 30  POINT(-88.4 32.1)  2018     12

[3401012 rows x 5 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3401012 entries, 0 to 3401011
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   date               datetime64[ns]
 1   number_of_strikes  int64
 2   center_point_geom  object
 3   year               int32
 4   month              int32
dtypes: datetime64[ns](1), int32(2), int64(1), object(1)
memory usage: 103.8+ MB

In [33]:
# Group by
df.groupby(['year']).sum(numeric_only=True)['number_of_strikes']

year
2018    44600989
Name: number_of_strikes, dtype: int64

In [35]:
df.groupby(['month']).sum(numeric_only=True)['number_of_strikes']

month
1       860045
2      2071315
3       854168
4      1524339
5      4166726
6      6445083
7      8320400
8     15525255
9      3018336
10     1093962
11      409263
12      312097
Name: number_of_strikes, dtype: int64

In [39]:
# 2 ways of sorting
df.sort_values(['number_of_strikes'],ascending=False), df['number_of_strikes'].sort_values(ascending=False)

(             date  number_of_strikes  center_point_geom  year  month
 302758 2018-08-20               2211  POINT(-92.5 35.5)  2018      8
 278383 2018-08-16               2142  POINT(-96.1 36.1)  2018      8
 280830 2018-08-17               2061  POINT(-90.2 36.1)  2018      8
 280453 2018-08-17               2031  POINT(-89.9 35.9)  2018      8
 278382 2018-08-16               1902  POINT(-96.2 36.1)  2018      8
 ...           ...                ...                ...   ...    ...
 404728 2018-01-01                  1  POINT(-93.5 20.3)  2018      1
 404727 2018-01-01                  1  POINT(-94.9 20.3)  2018      1
 404726 2018-01-01                  1  POINT(-94.9 20.2)  2018      1
 404725 2018-01-01                  1    POINT(-76 18.4)  2018      1
 404724 2018-01-01                  1    POINT(-58.5 40)  2018      1

 [3401012 rows x 5 columns],
 302758    2211
 278383    2142
 280830    2061
 280453    2031
 278382    1902
           ...
 404728       1
 404727       1
 404726       1
 404725       1
 404724       1
 Name: number_of_strikes, Length: 3401012, dtype: int64)

In [45]:
df.groupby(['month','year']).sum(numeric_only=True).sort_values('number_of_strikes',ascending=True)

            number_of_strikes
month year
12    2018             312097
11    2018             409263
3     2018             854168
1     2018             860045
10    2018            1093962
4     2018            1524339
2     2018            2071315
9     2018            3018336
5     2018            4166726
6     2018            6445083
7     2018            8320400
8     2018           15525255

In [47]:
# String Manipulation
df

              date  number_of_strikes  center_point_geom  year  month
0       2018-01-03                194      POINT(-75 27)  2018      1
1       2018-01-03                 41    POINT(-78.4 29)  2018      1
2       2018-01-03                 33    POINT(-73.9 27)  2018      1
3       2018-01-03                 38    POINT(-73.8 27)  2018      1
4       2018-01-03                 92      POINT(-79 28)  2018      1
...            ...                ...                ...   ...    ...
3401007 2018-12-28                 30  POINT(-90.6 28.7)  2018     12
3401008 2018-12-28                 30  POINT(-89.4 30.9)  2018     12
3401009 2018-12-28                 30  POINT(-89.5 31.4)  2018     12
3401010 2018-12-28                 30  POINT(-88.3 31.6)  2018     12
3401011 2018-12-28                 30  POINT(-88.4 32.1)  2018     12

[3401012 rows x 5 columns]

In [73]:
def process_center_point_geom(row):
    row=row.strip()
    row = row[6:]
    row = row[:-1]
    ans = row.split()
    return pd.Series([float(ans[0]),float(ans[1])])

df[['latitude','longitude']]=df['center_point_geom'].apply(process_center_ponit_geom)

KeyboardInterrupt:

In [ ]:
df